
$color-placeholder: #0008;
$post-bg-color: #afa;

.feed {
  background-color: $color-placeholder;
  display: flex;
  flex-direction: column;
  height: calc(calc(100vh) - 100px);
  min-width: 275px;
  overflow-y: scroll;
  padding: 20px;
  position: absolute;
  right: 0;
  width: 45vw;
  z-index: 10;

  h3 {
    color: #eee;
  }

  a {
    color: #5FF;
    margin: 5px;
  }
}

.close-posts {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  background-color: #eee;
  z-index: 11;
  position: absolute;
  top: calc(calc(100vh) / 2);
  right: -40px;
}

.loading {
  margin: auto;
}

.post {
  background-color: $color-placeholder;
  border: 1px solid $color-placeholder;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  color: #eee;

  p {
    font-size: 16px;
    margin: 0;
  }

  .picture-link {
    display: block;

    &::before {
      content: '->';
    }
  }
}
