
$color-placeholder: #eee;
$post-bg-color: #afa;

.feed {
  background-color: $color-placeholder;
  display: flex;
  flex-direction: column;
  height: calc(calc(100vh) - 100px);
  min-width: 275px;
  overflow-y: scroll;
  padding: 20px;
  position: absolute;
  right: 0;
  width: 45vw;
}

.loading {
  margin: auto;
}

.post {
  background-color: $post-bg-color;
  border: 1px solid $color-placeholder;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;

  p {
    font-size: 14px;
    margin: 0;
  }

  .picture-link {
    display: block;

    &::before {
      content: '->';
    }
  }
}
