
$color-placeholder: #eee;
$map-bg-color: #aaf;

.map {
  // background-color: $map-bg-color;
  // display: flex;
  // flex-direction: column;
  height: calc(calc(100vh) - 100px);
  left: 0;
  max-width: 55vw;
  width: calc(calc(100vw) - 275px);
  padding: 0;
  position: absolute;
  z-index: 999;
}
